// Цвета
:root {
  --black: rgba(0, 0, 0, 1);
  --grey: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --white-2: rgba(249, 249, 249, 1);
  --white-3: rgba(241, 241, 241, 1);
  --white-4: rgba(236, 236, 236, 1);
  --cyan: rgba(99, 209, 187, 1);
  --cyan-2: rgba(86, 195, 178, 1);
  --cyan-3: rgba(98, 209, 186, 1);
}

// Ширина экрана

$widths: (
  sm: 320px,
  md: 768px,
  xl: 1150px,
);

// Отступы

$gap-sm: 30px;
$gap-md: 50px;
$gap-xl: 50px;
